.fileInput {
  display: none;
}

.fileInputLabelContainer {
  margin-bottom: var(--spacing-m);
}

.fileInputLabel {
  display: inline-block;
  cursor: pointer;
  color: var(--color-coral);
  border: 3px solid var(--color-coral);
  border-radius: var(--border-radius-s);
  background-color: var(--color-beige-light);
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-s);
}

.labelText {
  display: block;
  font-weight: 700;
  font-size: var(--font-size-m);
}

.formContent {
  text-align: center;
}

.previewImage {
  width: 100%;
  max-width: 320px;
  display: block;
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  margin: 0 auto var(--spacing-l);
}

@media (min-width: 576px) {
  .gridColumn {
    width: calc(100% / 2);
  }

  .labelText {
    font-size: var(--font-size-l);
  }
}
